<%- include('partials/forms-header') %>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <form action="/<%= user._id %>/boards/<%=boardId%>?_method=PATCH" method="POST">
        <div class="form-group">
          <label for="boardTitle">Board Name</label>
          <input type="text" class="form-control" name="boardTitle" id="boardTitle" value="<%= board.boardTitle %>">
        </div>
        <div class="form-group">
          <label for="boardDescription">Board Description</label>
          <input type="text" name="boardDescription" class="form-control" id="boardDescription" value="<%= board.boardDescription %>">
        </div>
        <div class="form-group">
          <label for="boardImage">Board Image</label>
          <input type="text" name="boardImage" class="form-control" id="boardIMage" value="<%= board.boardImage %>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>

<%- include('partials/forms-footer') %>